[submodule "external/glm"]
	path = external/glm
	url = git@github.com:g-truc/glm.git
[submodule "external/imgui-docking"]
	path = external/imgui-docking
	url = git@github.com:ocornut/imgui.git
	branch = docking
